@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: rgba(116, 49, 116, 0.856);
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.container{
    text-align: center;
}

.progress-container{
    display: flex;
    max-width: 100%;
    width: 350px;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
}