*{
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: #222;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    overflow-x: hidden;
}

.container{
    background-color: #fafafa;
    min-height: 100vh;
    width: 100vw;
    padding: 50px;
    transform-origin: top left;
    transition:transform 0.5s linear;
}

.container.show-nav{
    transform: rotate(-20deg);
}